{{#each artistsArr}}
<div class="artist-cont">
    <h3 class="artist-name">{{name}}</h3>
    <img src="{{images.0.url}}" alt="#">
    <a href="/artist/{{id}}">View albums</a>
</div>
{{/each}}
{{!-- <h1>hello</h1> --}}